%fs11 { font-size: 11px; line-height: 11px * $textLineHeight; }
%fs12 { font-size: 12px; line-height: 12px * $textLineHeight; }
%fs13 { font-size: 13px; line-height: 13px * $textLineHeight; }
%fs14 { font-size: 14px; line-height: 14px * $textLineHeight; }
%fs15 { font-size: 15px; line-height: 15px * $textLineHeight; }
%fs16 { font-size: 16px; line-height: 16px * $textLineHeight; }
%fs17 { font-size: 17px; line-height: 17px * $textLineHeight; }
%fs18 { font-size: 18px; line-height: 18px * $textLineHeight; }
%fs19 { font-size: 19px; line-height: 19px * $textLineHeight; }
%fs20 { font-size: 20px; line-height: 20px * $textLineHeight; }
%fs21 { font-size: 21px; line-height: 21px * $textLineHeight; }
%fs22 { font-size: 22px; line-height: 22px * $textLineHeight; }
%fs23 { font-size: 23px; line-height: 23px * $textLineHeight; }
%fs24 { font-size: 24px; line-height: 24px * $textLineHeight; }
%fs25 { font-size: 25px; line-height: 25px * $textLineHeight; }
%fs26 { font-size: 26px; line-height: 26px * $textLineHeight; }
%fs27 { font-size: 27px; line-height: 27px * $textLineHeight; }
%fs28 { font-size: 28px; line-height: 28px * $textLineHeight; }
%fs29 { font-size: 29px; line-height: 29px * $textLineHeight; }
%fs30 { font-size: 30px; line-height: 30px * $textLineHeight; }
%fs31 { font-size: 31px; line-height: 31px * $textLineHeight; }
%fs32 { font-size: 32px; line-height: 32px * $textLineHeight; }
%fs33 { font-size: 33px; line-height: 33px * $textLineHeight; }
%fs34 { font-size: 34px; line-height: 34px * $textLineHeight; }
%fs35 { font-size: 35px; line-height: 35px * $textLineHeight; }
%fs36 { font-size: 36px; line-height: 36px * $textLineHeight; }
%fs37 { font-size: 37px; line-height: 37px * $textLineHeight; }
%fs38 { font-size: 38px; line-height: 38px * $textLineHeight; }
%fs39 { font-size: 39px; line-height: 39px * $textLineHeight; }
%fs40 { font-size: 40px; line-height: 40px * $textLineHeight; }
%fs41 { font-size: 41px; line-height: 41px * $textLineHeight; }
%fs42 { font-size: 42px; line-height: 42px * $textLineHeight; }
%fs43 { font-size: 43px; line-height: 43px * $textLineHeight; }
%fs44 { font-size: 44px; line-height: 44px * $textLineHeight; }
%fs45 { font-size: 45px; line-height: 45px * $textLineHeight; }
%fs46 { font-size: 46px; line-height: 46px * $textLineHeight; }