%normal {
	font-weight: normal;
}
%bold {
	font-weight: bold;
}
%italic {
  	font-style: italic;
}
%underline {
	text-decoration: underline;
}
%no-underline {
	text-decoration: none;
}
%strike {
	text-decoration: line-through;
}
%overline {
	text-decoration: overline;
}
%no-overline {
	text-decoration: none;
}
%justify {
	text-align: justify;
}
%left-text {
	text-align: left;
}
%right-text {
	text-align: right;
}
%center-text {
	text-align: center;
}

@mixin font($f...) {
	font-family: $f;
}

@mixin font-size($size, $line-height: false) {
	font-size: $size;
	@if $line-height != false {
		line-height: $line-height;
	}
}

@mixin color($color: #000, $light: 0, $dark: 0) {
	color: $color;
	@if $light != 0 {
		color: lighten($color, $light);
	} @else if $dark != 0 {
		color: darken($color, $dark);
	}
}