@mixin generator($property, $from: 0, $to: 0, $values: ()) {
	@for $i from $from through $to {
		%#{$property}#{$i} { #{$property}: #{$i}; }
	}
	@each $i in $values {
		%#{$property}#{$i} { #{$property}: #{$i}; }
	}
}

@mixin atoms($collection: ()) {
	@each $el in $collection {
		@if type_of($el) == "list" {
			$mixinName: nth($el, 1);
			@if nth($el, 1) == "border-dotted" {
				$arguments: ();
				@for $i from 2 through length($el) {
					$arg: nth($el, $i);
					$arguments: append($arguments, $arg);
				}
				@include border-dotted($arguments);
			}
		} @else {
			@extend %#{$el};
		}		
	}
	@content;
}