body, p {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:after {
  display: table;
  content: "";
  clear: both;
}

body {
  width: 50%;
}

p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  @-webkit-keyframes bla {
    0% {
      font-size: 20px;
    }
}

  @-moz-keyframes bla {
    0% {
      font-size: 20px;
    }
}

  @-ms-keyframes bla {
    0% {
      font-size: 20px;
    }
}

  @-o-keyframes bla {
    0% {
      font-size: 20px;
    }
}

  @keyframes bla {
    0% {
      font-size: 20px;
    }
}

}
