@charset "IBM437";
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, .container, footer, .header a, .header h1 small, .content .content-column-left, .content .content-column-right {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.content h3:before {
  display: inline-block;
}

.header h1, .header h2, .big-title, .content h3, .content p, .content pre, .content ul {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, .header h1 small, .content h4 {
  font-weight: bold;
}

.content .content-column-left {
  font-style: italic;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

footer, .header h1, .header h2, .big-title {
  text-align: center;
}

.content h3, .content h3:before {
  font-style: normal;
}

.content pre {
  word-wrap: break-word;
}

body, .header a, .header h1 small, .content pre {
  font-size: 14px;
}

body, .content .content-column-left, .content .content-column-right {
  font-size: 16px;
}

.content h3:before {
  font-size: 20px;
}

.content h3 {
  font-size: 34px;
}

.header h1 {
  font-size: 50px;
}

.big-title {
  font-size: 80px;
}

.header h1 small {
  line-height: 18px;
}

.content pre {
  line-height: 20px;
}

body {
  line-height: 22px;
}

body {
  line-height: 28px;
}

.content .content-column-left, .content .content-column-right {
  line-height: 26px;
}



.content h3 {
  line-height: 30px;
}

.header h1 {
  line-height: 50px;
}

.big-title {
  line-height: 80px;
}

.header:after, .content:after {
  display: table;
  content: "";
  clear: both;
}

.header h1, .header h2, .content .content-column-left {
  width: 33.333%;
}

.content .content-column-right {
  width: 66.666%;
}

.header h1, .header h2, .content .content-column-left, .content .content-column-right {
  float: left;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
}

.container {
  margin: 0 auto;
}

.content pre {
  margin-top: 6px;
}

.content h4:nth-of-type(n+2) {
  margin-top: 20px;
}

footer, .content {
  margin-top: 40px;
}

.content pre {
  margin-bottom: 6px;
}

.content h3 {
  margin-bottom: 10px;
}

.header {
  margin-bottom: 20px;
}

.big-title {
  margin-bottom: 30px;
}

footer {
  margin-bottom: 40px;
}

.content ul {
  margin-left: 22px;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, .container {
  padding: 0;
}

.content pre {
  padding-top: 10px;
}

footer {
  padding-top: 20px;
}

.content {
  padding-top: 30px;
}

.header {
  padding-top: 40px;
}

.content h3:before {
  padding-right: 12px;
}

.content .content-column-left, .content pre {
  padding-right: 20px;
}

.content pre {
  padding-bottom: 10px;
}

.header {
  padding-bottom: 40px;
}

.header h2, .content .content-column-right, .content pre {
  padding-left: 20px;
}

.content pre {
  border-radius: 8px;
}

body {
  width: 100%;
  height: 100%;
}

a, .content h3, .content pre {
  color: #000;
}

.header h1 small {
  text-shadow: none;
}

body {
  font-family: Georgia;
}

.content pre {
  font-family: "Courier New";
}

.header h2 {
  border-left: dotted 1px #a7a7a7;
}

.header {
  border-bottom: solid 5px #a7a7a7;
}

.header h1, .header h2, .header a {
  color: #5f7928;
}

.header h1 {
  text-shadow: 1px -1px 1px #a7a7a7;
}

.content pre {
  background-color: #a7a7a7;
  background-color: #f3f3f3;
}

footer, .content {
  border-top: dotted 1px #a7a7a7;
}

.content .content-column-left {
  color: #a7a7a7;
  color: #747474;
}

.container {
  max-width: 960px;
}

@media all and (max-width: 900px) {
  .header h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 620px) {
  .header h1 {
    float: none;
    width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
  }
}
@media all and (max-width: 900px) {
  .header h2 {
    border-left: none;
  }
}
@media all and (max-width: 620px) {
  .header h2 {
    width: 50%;
  }
}

.content h3:before {
  content: "♦";
}
@media all and (max-width: 980px) {
  .content .content-column-left {
    padding-left: 20px;
  }
}
@media all and (max-width: 700px) {
  .content .content-column-left {
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 980px) {
  .content .content-column-right {
    padding-right: 20px;
  }
}
@media all and (max-width: 700px) {
  .content .content-column-right {
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    width: 100%;
    margin-top: 20px;
  }
}
